.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
}

.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

  /* .button-active {
    background-color: #9b4dca;
    color: white;
  }
  .button-active:hover,
  .button-active:focus {
    background-color: #9b4dca;
    border-color: #9b4dca;
    color: #fff;
  }
  .top-bar {
    margin: 25px 0;
  } */

.message {
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  .message.to {
    background-color: #e84118;
    color: #fff;
    margin-left: 100px;
    text-align: right;
  }
  .message.from {
    background-color: #2f3640;
    color: #fff;
    margin-right: 100px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
}

label {
    margin-left: 730px;
    text-align: center;
    color: #792d8a;
}

