<ng-container *ngFor="let message of messages">
    <div class="message" [ngClass]="{from: message.author === 'bot',to: message.author === 'user'}">
      {{ message.content }}
    </div>
  </ng-container>
  <!-- <label *ngIf="messages.length == 0; else dialogInfo" for="nameField">Chat Bot</label> -->
 <div class="search-box">
  <input placeholder="Say something" class="search-txt" [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" />
  <a class="search-btn" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </a>
</div>
  <!-- <div class="btn">
  <button (click)="sendMessage()">Send</button>
</div> -->
  <ng-template #dialogInfo>
    <span [className]="'float-right'">Total messages: {{ messages.length }}</span>
  </ng-template>
